body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header a {
    color: #f2eded;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ol,
ul {
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.signup-button,
.signin-button {
    background-color: #333;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.signup-button,
.signin-button:hover {
    background-color: #fff;
    color: #333;
    cursor: pointer;
}